name: nice_flutter_kit
description: A collection of nice widgets
version: 1.0.1
homepage: https://github.com/Recursyve/nice_flutter_kit

environment:
  sdk: ">=2.14.0 <3.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter

  collection: ^1.15.0
  dio: ^4.0.0
  equatable: ^2.0.0
  firebase_messaging: ^11.0.0
  flutter_bloc: ^8.0.0
  flutter_keyboard_visibility: ^5.2.0
  flutter_spinkit: ^5.0.0
  flutter_svg: ^1.0.0
  geolocator: ^8.0.0
  intl: ^0.17.0
  introduction_screen: ^2.1.0
  notification_permissions: ^0.6.1
  path: ^1.8.0
  provider: ^6.0.0
  reactive_forms: ^11.0.0
  rxdart: ^0.27.0
  shared_preferences: ^2.0.0
  timeago: ^3.1.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec
flutter:


# To add assets to your package, add an assets section, like this:
# assets:
#   - images/a_dot_burr.jpeg
#   - images/a_dot_ham.jpeg
#
# For details regarding assets in packages, see
# https://flutter.dev/assets-and-images/#from-packages
#
# An image asset can refer to one or more resolution-specific "variants", see
# https://flutter.dev/assets-and-images/#resolution-aware.

# To add custom fonts to your package, add a fonts section here,
# in this "flutter" section. Each entry in this list should have a
# "family" key with the font family name, and a "fonts" key with a
# list giving the asset and other descriptors for the font. For
# example:
# fonts:
#   - family: Schyler
#     fonts:
#       - asset: fonts/Schyler-Regular.ttf
#       - asset: fonts/Schyler-Italic.ttf
#         style: italic
#   - family: Trajan Pro
#     fonts:
#       - asset: fonts/TrajanPro.ttf
#       - asset: fonts/TrajanPro_Bold.ttf
#         weight: 700
#
# For details regarding fonts in packages, see
# https://flutter.dev/custom-fonts/#from-packages

